In [4]:
import pandas_datareader.data as web
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import gzip, cPickle

In [20]:
symbol = 'WIKI/AAPL'  # or 'AAPL.US'

In [25]:
aapl_df = web.DataReader(symbol, 'quandl', '2015-01-01', '2018-01-31')

In [26]:
aapl_df.loc['2018-01-30']

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-01-30,165.525,167.37,164.7,166.97,45137026.0,0.0,1.0,165.525,167.37,164.7,166.97,45137026.0

In [12]:
import quandl

In [13]:
quandl.get("MULTPL/SP500_REAL_PRICE_MONTH")

                       Value
Date
1871-01-01 00:00:00     4.44
1871-02-01 00:00:00     4.50
1871-03-01 00:00:00     4.61
1871-04-01 00:00:00     4.74
1871-05-01 00:00:00     4.86
1871-06-01 00:00:00     4.82
1871-07-01 00:00:00     4.73
1871-08-01 00:00:00     4.79
1871-09-01 00:00:00     4.84
1871-10-01 00:00:00     4.59
1871-11-01 00:00:00     4.64
1871-12-01 00:00:00     4.74
1872-01-01 00:00:00     4.86
1872-02-01 00:00:00     4.88
1872-03-01 00:00:00     5.04
1872-04-01 00:00:00     5.18
1872-05-01 00:00:00     5.18
1872-06-01 00:00:00     5.13
1872-07-01 00:00:00     5.10
1872-08-01 00:00:00     5.04
1872-09-01 00:00:00     4.95
1872-10-01 00:00:00     4.97
1872-11-01 00:00:00     4.95
1872-12-01 00:00:00     5.07
1873-01-01 00:00:00     5.11
1873-02-01 00:00:00     5.15
1873-03-01 00:00:00     5.11
1873-04-01 00:00:00     5.04
1873-05-01 00:00:00     5.05
1873-06-01 00:00:00     4.98
...                      ...
2015-09-01           1944.41
2015-10-01           2024.81
2015-11-01           2080.62
2015-12-01           2054.08
2016-01-01           1918.60
2016-02-01           1904.42
2016-03-01           2021.95
2016-04-01           2075.54
2016-05-01           2065.55
2016-06-01           2083.89
2016-07-01           2148.90
2016-08-01           2170.95
2016-09-01           2157.69
2016-10-01           2143.02
2016-11-01           2164.99
2016-12-01           2246.63
2017-01-01           2275.12
2017-02-01           2329.91
2017-03-01           2366.82
2017-04-01           2358.84
2017-05-01           2388.33
2017-06-01           2430.06
2017-07-01           2431.39
2017-08-01           2477.10
2017-09-01           2474.42
2017-10-01           2521.20
2017-11-01           2579.36
2017-12-01           2645.10
2018-01-01           2683.73
2018-02-01           2816.45

[1766 rows x 1 columns]

In [43]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['^GSPC','^DJI','AA','BAC','HPQ', 'MMM', 'AXP','AAPL','BA','CAT','CVX','CSCO','KO','DWDP','XOM','GE','GS','HD','IBM','INTC','JNJ','JPM',
          'MCD','MRK','MSFT','NKE','PFE','PG','TRV','UNH','UTX','VZ','V','WMT','DIS']

# Define which online source one should use
data_source = 'yahoo'

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2000-01-01'
end_date = '2018-01-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
all_data = web.DataReader(tickers, data_source, start_date, end_date)

In [48]:
all_data.to_excel('all_the_data.xlsx')

In [50]:
with gzip.open('all_data.pkl.gz', 'w') as f:
    cPickle.dump(all_data, f)

In [36]:

# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = panel_data.ix['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

close.head(10)

                AAPL      MSFT        ^GSPC
2000-01-03  3.997768  58.28125  1455.219971
2000-01-04  3.660714  56.31250  1399.420044
2000-01-05  3.714286  56.90625  1402.109985
2000-01-06  3.392857  55.00000  1403.449951
2000-01-07  3.553571  55.71875  1441.469971
2000-01-10  3.491071  56.12500  1457.599976
2000-01-11  3.312500  54.68750  1438.560059
2000-01-12  3.113839  52.90625  1432.250000
2000-01-13  3.455357  53.90625  1449.680054
2000-01-14  3.587054  56.12500  1465.150024