In [2]:
import pandas_datareader.data as web
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import gzip, cPickle

In [3]:
symbol = 'WIKI/AAPL'  # or 'AAPL.US'

In [4]:
aapl_df = web.DataReader(symbol, 'quandl', '2015-01-01', '2018-01-31')

In [5]:
aapl_df.loc['2018-01-30']

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-01-30,165.525,167.37,164.7,166.97,45137026.0,0.0,1.0,165.525,167.37,164.7,166.97,45137026.0

In [12]:
import quandl

In [43]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['^GSPC','^DJI','AA','BAC','HPQ', 'MMM', 'AXP','AAPL','BA','CAT','CVX','CSCO','KO','DWDP','XOM','GE','GS','HD','IBM','INTC','JNJ','JPM',
          'MCD','MRK','MSFT','NKE','PFE','PG','TRV','UNH','UTX','VZ','V','WMT','DIS']

# Define which online source one should use
data_source = 'yahoo'

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2000-01-01'
end_date = '2018-01-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
all_data = web.DataReader(tickers, data_source, start_date, end_date)

In [48]:
all_data.to_excel('all_the_data.xlsx')

In [50]:
with gzip.open('all_data.pkl.gz', 'w') as f:
    cPickle.dump(all_data, f)

In [36]:

# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = panel_data.ix['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

close.head(10)

                AAPL      MSFT        ^GSPC
2000-01-03  3.997768  58.28125  1455.219971
2000-01-04  3.660714  56.31250  1399.420044
2000-01-05  3.714286  56.90625  1402.109985
2000-01-06  3.392857  55.00000  1403.449951
2000-01-07  3.553571  55.71875  1441.469971
2000-01-10  3.491071  56.12500  1457.599976
2000-01-11  3.312500  54.68750  1438.560059
2000-01-12  3.113839  52.90625  1432.250000
2000-01-13  3.455357  53.90625  1449.680054
2000-01-14  3.587054  56.12500  1465.150024

In [52]:
etf_tickers = ['SPY','IVV','VTI','VOO','QQQ','AGG','IJH','IWM','IWF','BND','IWD','VTV','IJR','LQD','XLF','VUG','VNQ','DIA','VO','VB','IVW']

 
data_source = 'yahoo'

 
start_date = '2000-01-01'
end_date = '2018-01-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
etf_data = web.DataReader(etf_tickers, data_source, start_date, end_date)

In [53]:
with gzip.open('etf_data.pkl.gz', 'w') as f:
    cPickle.dump(etf_data, f)

In [54]:
etf_data.to_excel('etf_data.xlsx')